{% assign feature_product_settings = section.settings %}

<div class="section featured-products">
  <div class="container">
    {% if feature_product_settings.heading != '' %}
      <div class="heading-wrap">
        <h2>{{ feature_product_settings.heading }}</h2>
      </div>
    {% endif %}
  </div>

  <div class="products-wrap">
    <div class="arrow-wrap">
      <a href="#" class="btn-arrow btn-arrow-left">{% render 'icon-arrow-left' %}</a>
      <a href="#" class="btn-arrow btn-arrow-right">{% render 'icon-arrow-right' %}</a>
    </div>
    <div class="products products-carousel">
      {%- for product in collections['featured-product'].products -%}
        {% assign current_variant = product.selected_or_first_available_variant %}
        <div
          class="product-item"
          data-variant-id="{{ current_variant.id }}"
        >
          {% if product.featured_image != null %}
            <div class="img-wrap">
              <img src="{{ product.featured_image | img_url: 'master' }}">
            </div>
          {% endif %}
          <div class="content">
            <a href="#" class="btn-product">{{ product.title }}</a>
            <span> {{ product.price | money }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <a href="#" class="btn-shop-all">Shop All</a>
</div>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
